/.docker            export-ignore
/.git*              export-ignore
/.php-cs-fixer.php  export-ignore
/*.md               export-ignore
/*.svg              export-ignore
/compose.yml        export-ignore
/docs               export-ignore
/features           export-ignore
/Makefile           export-ignore
/phpunit.xml        export-ignore
/psalm.xml          export-ignore
