version: '2'

services:
  fpm:
    image: jmleroux/fpm:php-7.1
    environment:
      COMPOSER_HOME: /home/docker/.composer
      PHP_IDE_CONFIG: 'serverName=jmleroux-cli'
      PHP_XDEBUG_ENABLED: 0
      PHP_XDEBUG_IDE_KEY: XDEBUG_IDE_KEY
      PHP_XDEBUG_REMOTE_HOST: xxx.xxx.xxx.xxx
      XDEBUG_CONFIG: 'remote_host=xxx.xxx.xxx.xxx'
    user: docker
    volumes:
      - ./:/srv/jmleroux
      - ~/.composer:/home/docker/.composer
    working_dir: /srv/jmleroux
